/planko/wandb/
/planko/pretrained_models/
/planko/data/
/planko/feature_maps/
/planko/attributions/
/planko/trajectories/
/planko/trash/

/imagenet/pretrained_models/
/imagenet/metadata/
/imagenet/attributions/

/timmhrgu/